%robotoBook {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

$bright-green: #6a6a6a;
$font-size: 17px;
$regular-green: #7da371;

.countdown {
  @extend %robotoBook;
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 1px;

  .label {
    font-size: $font-size;
    color: $bright-green;
    line-height: 1.29;
    font-weight: 500;
  }

  .counter {
    font-size: $font-size;
    font-weight: 500;
    color: $bright-green;
    color: #6a915d
  }
}

.blink {
  animation: blinker 1s linear infinite;

  .label,
  .counter {
    color: red;
  }
}

.times-up {
  .label,
  .counter {
    color: red;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
