%robotoBook {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

$bright-green: #333;


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 4rem;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.right-side{
  display: flex;
  gap: 20px
}